*{
    margin: 0;
    padding: 0;
    
}
.body{
    background-color: #6e778c;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
.container {
    /* width: 100%; */
    max-width: 1300px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 15px; /* Add padding to the sides */
  }


}
/* Navbar styles */
.navbar {
    padding: 1rem 2rem; /* Adjust padding as needed */
    
}

.navbar-brand {
    font-size: 1.5rem; /* Adjust font size of navbar brand */
    
}

.navbar-nav .nav-link {
    font-size: 1.2rem; /* Adjust font size of navbar links */
    
}
.nav-link-active{
    color: #6e778c;
}
.hover:hover{
    color: #3368c6 !important;
    
}
.navbar .navbar-nav .nav-item{
    margin-right: 20px;
}

/* .navbar-light .navbar-toggler-icon { */
    /* Customize navbar toggler icon if needed */
/* } */

.dropdown-menu {
    min-width: 10rem; /* Adjust minimum width of dropdown menus */
}

.dropdown-item {
    font-size: 1rem; /* Adjust font size of dropdown items */
}


/* logo */
.logo{
    width: 150px;
}

/* card */
.card-title{
    margin-left: 40px;
}
.card-custom {
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-custom:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.badge-custom {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}
/* footer */
.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer .logo {
    font-size: 24px;
    font-weight: bold;
}

.footer .social-icons a {
    font-size: 24px;
    color: #000;
    margin-right: 15px;
}

.footer .social-icons a:hover {
    color: #007bff;
}

.footer .useful-link, .footer .working-time, .footer .address {
    margin-bottom: 20px;
}

.footer .useful-link ul, .footer .address ul {
    list-style-type: none;
    padding: 0;
}

.footer .useful-link ul li, .footer .address ul li {
    margin-bottom: 10px;
}

.footer .useful-link ul li a, .footer .address ul li {
    color: #000;
    text-decoration: none;
}

.footer .useful-link ul li a:hover {
    text-decoration: underline;
}

.footer .copy {
    text-align: center;
    margin-top: 20px;
}























    

    
                
               
   
    
    
           
           
    




     











      
































     